body
{
    margin:0px;
}

#baner
{
    background-color: #62AFFF;
    height:80px;
    font-size: 120%;
    text-align: center;
}

#lewy
{
    background-color: #44D6E8;
    height:450px;
    width:30%;
    font-size: 120%;
    float: left;
}

#srodkowy
{
    height: 450px;
    width: 40%;
    text-align: center;
    float: left;
}

#prawy
{
    background-color: #44D6E8;
    height:450px;
    width:30%;
    font-size: 120%;
    text-align: center;
    float: left;
}

#stopka
{
   background-color: #62AFFF;
   height: 50px;
   text-align: center;
   clear:both;
}

table
{
    margin-left:50px;
    border: 1px solid yellow;
    border-collapse: collapse;
}

img{
    margin-top:100px;
}

h3{
    margin-top:100px;
}

input{
    margin-top:10px;
}

td{
    border:1px solid yellow;
    text-align: center;
    font-size: 120%;
    padding:20px;
}

tr:hover
{
    color:yellow;
}



